<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
  {{ partial "head" . }}
</head>

<body class="body">

  <div class="columns w-row">

    <!-- Media Side -->
    <div class="leftcontent w-col w-col-6 w-col-stack">

    <!-- Image -->
    {{ if .Params.visual.image.enable | default .Site.Params.visual.image.enable }}

      <div class="image"></div>

    <!-- Video -->
    {{ else if .Params.visual.video.enable | default .Site.Params.visual.video.enable }}

      {{ partial "video" . }}

    {{ end }}
    </div>

    <!-- Content Side -->
    <div class="rightcontent w-col w-col-6 w-col-stack">

      <div class="content">
        <!-- Intro -->
        {{ partial "intro" . }}

        <!-- Main -->
        {{ block "main" .  }}
          <!-- Bio -->
          {{ partial "bio" . }}
        {{ end }}

        <!-- Credit -->
        {{ partial "credit" . }}
      </div>

    </div>

  </div>

</body>
</html>
